In [ ]:
a = 78
print("a as int", a)

a as int 78

In [ ]:
!git clone https://github.com/aditya-gujar/my_all_EDS_codes_116_A1_of_ADITYA_GUJAR.git

In [ ]:
a="adi"
print(type(a))

<class 'str'>

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

house = [['hall',hall],
         ['kitchen',kit],
         ['living room',liv],
         ['bedroom',bed],
         ['bathroom',bath]]

print (house)

[['hall', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

In [ ]:
b = "Aditya"
print ("b as char", b)

b as char Aditya

In [ ]:
c = 23.23
print ("c as float", c)

c as float 23.23

In [ ]:
d = 8754368765
print ("d as long int", d)

d as long int 8754368765

In [ ]:
i = 1
while i<10:
  print ("Welcome")
  i = i + 1

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome

In [ ]:
print ("Enter a value")
num = int(input())
sum =  0
i = 1
while i<=num:
  sum = sum+i
  i = i + i
  print ("sum", sum)

Enter a value
5
sum 1
sum 3
sum 7

In [ ]:
l1 = ["C++","Java","Python"]
for i in l1:
  print("Loop refers to book",i)

Loop refers to book C++
Loop refers to book Java
Loop refers to book Python

In [ ]:
def even():
  print("Enter a number")
  num = int(input())
  if(num%2==0):
    print(num,"is even")
  else:
    print(num,"is odd")
even()

Enter a number
5
5 is odd

In [ ]:
def multiple3():
  print("Enter a number")
  num = int(input())
  if(num%3==0):
    print(num,"is multiple of 3")
  else:
    print(num,"is no a multiple of 3")
multiple3()

Enter a number
1
1 is no a multiple of 3

In [ ]:
e = 3.14j
print ("e as complex", e)

e as complex 3.14j

In [ ]:
str1 = "Welcome to Python"
print ("str1 as string", str1)

str1 as string Welcome to Python

In [ ]:
l1 = [15,22.87,"Python"]
print  ("l1 as list", l1)

l1 as list [15, 22.87, 'Python']

In [ ]:
t1 = (21,"Python",112.876)
print ("t1  as tuple", t1)

t1  as tuple (21, 'Python', 112.876)

In [ ]:
d1 = {"Aditya" : 116, "Vipul" : 120, "Tanmay" : 118}
print ("d1 as dict", d1)

d1 as dict {'Aditya': 116, 'Vipul': 120, 'Tanmay': 118}